nav {
  height: 120px;
  width: 100%;
  background-color: #f0a165;
  background-image: url(https://www.transparenttextures.com/patterns/asfalt-light.png);
  color: #FFFFFF;
  padding: 0 1.5em;
  position: fixed;
  top:0;
  left: 0;
}

nav>div {
  display: flex;
  justify-content: space-between;
  height: inherit;
  align-items: center;
}

.logo {
  font-family: 'Bungee', sans-serif;
  display: flex;
}

.new-text {
  font-family: sans-serif;
  font-size: medium;
  display: flex;
  align-items: center;
  flex-direction: column;
  word-break: keep-all;
}