.new-tweet {
  width: 90%;
}

.message {
  display: flex;
  flex-direction: column;
}

.submit-counter {
  font-family: 'Bungee', sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#tweet-button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
}

#input-text {
  resize: none;
  border: none;
  border-bottom: solid 4px;
  outline: none;
  white-space: pre-wrap;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

.error {
  color: red;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: none; /* Hide the error element initially */
  border: red 6px solid;
  display: flex;
  justify-content: center;
}